* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Trebuchet MS;
}

canvas {
    display: block;
}

#audio-file {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;

    color: white;
}

.settings-menu {
    p{
        width: 100%;
        color: white;
    }
    position: absolute;
    display: flex;
    flex-direction: column;
    label{
        color: white;
        text-align: center;
        align-content: center;
    }
    width: 200px;
}