* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Trebuchet MS;
}

canvas {
    display: block;
}

#audio-file {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;

    color: white;
}
label{
    color: white;
    text-align: center;
    align-content: center;
}

.settings-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
}